.book-back {
    display: block;
    max-width: 1920px;
    margin: 40px auto 20px;
    padding-left: 1rem;
    text-decoration: none;
}
.book-row {
    position: relative;
    width: 100vw;
    height: 350px;
    background-color: #333;
}
.book-row .wrapper {
    margin: 0 auto;
}
.book-row img {
    position: absolute;
    width: 240px;
    margin-left: 1rem;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.book-row-info {
    width: auto;
    height: 350px;
    padding-top: 40px;
    margin-left: 300px;
    color: #E6E6E6;
}
.book-name {
    font-size: 26px;
}
.book-author {
    font-size: 16px;
    margin-bottom: 12px;
}
.stars {
    width: 16px;
    transform: scale(0.8);
    color: #8C8C8C;
}
.stars.filled {
    color: #E6E6E6;
}
.book-desc {
    width: 700px;
    margin-top: 12px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.book-row-info button {
    width: 180px;
    font-size: 16px;
    padding: 4px 0;
    background-color: #E6E6E6;
    border: 0;
    border-radius: 18px;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.book-row-info button:hover {
    background-color: #F2F2F2;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #C14E2E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
}  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #C14E2E transparent transparent transparent;
}  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.inventory {
    padding-left: 300px;
    padding-top: 6px;
}
.book, .more-books, .more-books-info {
    width: 50%;
    margin: 0 auto;
    padding: 30px 1rem 0;
}
.book h3 {
    margin-top: 48px;
}
.book p {
    margin-bottom: 8px;
}
.more-books {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 160px;
    padding-top: 20px;
    margin-bottom: 400px;
}
.more-books-info {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 20px 1rem;
}
.more-books-info p {
    font-size: 21px;
    font-weight: 500;
}
.more-books-info a {
    display: block;
    text-decoration: none;
    background-color: #C14E2E !important;
    color: #E6E6E6 !important;
    padding: 6px 32px;
    border-radius: 18px;
    transition: 0.2s;
}
.more-books-info a:hover {
    background-color: #CF5330 !important;
}
.more-books a {
    width: 16%;
    text-decoration: none;
    transition: 0.3s;
}
.more-books a:hover {
    transform: translateY(-12px);
}
.more-books img {
    width: 100%;
    object-fit: cover;
    margin-left: 0;
    border-radius: 4px;
}
.more-books p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    color: #333;
}
.more-books p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

@media screen and (max-width: 1920px) {
    .book-back {
        width: 90%;
    }
}
@media screen and (max-width: 1280px) {
    .book-desc {
        width: auto;
    }
    .book, .more-books, .more-books-info {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .book-row {
        height: 280px;
    }
    .book-row img {
        width: 120px;
        height: auto;
        margin-left: 0;
    }
    .book-row-info {
        width: auto;
        height: 200px;
        padding-top: 30px;
        margin-left: 140px;
        color: #E6E6E6;
    }
    .book-name {
        font-size: 18px;
    }
    .book-author {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .book-desc {
        margin-top: 8px;
        font-size: 12px;
    }
    .book-row-info button {
        width: 120px;
        font-size: 14px;
        margin-top: 12px;
    }
    .inventory {
        display: none;
    }
    .book {
        padding-top: 0;
    }
    .more-books-info {
        margin-top: 30px;
    }
    .more-books-info p, .more-books-info a {
        font-size: 16px;
    }
    .more-books-info a {
        padding: 6px 24px;
    }
    .more-books {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
        margin-bottom: 0;
    }
    .more-books a {
        width: 45%;
    }
    .more-books a:last-of-type {
        display: none;
    }
}