.department, .department-nav {
    position: relative;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.2rem;
    color: #333;
}
.department-nav {
    min-height: 0;
    display: flex;
    padding-bottom: 18px;
    border-bottom: 1px solid #C14E2E;
}
.department-nav a {
    padding: 6px 24px;
    margin-right: 12px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 18px;
}
.department-nav a.active {
    background-color: #C14E2E;
    color: #FFFFFF !important;
}
.department-nav a:hover {
    outline: 1px solid #C14E2E;
}
.department-nav a:nth-child(2):hover {
    outline: 0;
    cursor: default;
} 