.footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    margin-top: 60px;
    padding: 16px 0;
    background-color: #C14E2E;
}
.footer .wrapper {
    max-width: 1920px;
    margin: 0 auto;
}