.home_hero {
    position: relative;
    width: 100vw;
    height: 600px;
    background-image: url('@/assets/header-img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    color: #E6E6E6;
    padding-top: 50px;
    font-size: 1.2rem;
}
.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: 0;
}
.home_hero h1 {
    color: #E6E6E6;
}
.home_hero h1::before {
    border-top: .3rem solid #E6E6E6;
}
.home_hero h2 {
    max-width: 50%;
    font-size: 28px;
}
.login_window {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_box {
    width: 320px;
    height: 100%;
    margin-top: 36px;
}
.login_box a {
    color: #E6E6E6 !important;
}
.login_box a.login-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    padding: 8px 80px;
    margin-bottom: 12px;
    background-color: #C14E2E;
    color: #E6E6E6;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}
.login_box a.login-btn:hover {
    background-color: #cf5330;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 960px) {
    .login_box a.login-btn {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px) {
    .home_hero {
        height: 320px;
    }
    .login_box a.login-btn {
        font-size: 1rem;
        padding: 6px 42px;
    }
}