nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 1920px;
    height: 75px;
    margin: 0 1rem;
}
nav img {
    position: absolute;
    left: 0;
    height: 100%;
    margin-left: 1rem;
}
.nav-right {
    display: flex;
    width: 80vw;
    float: right;
    justify-content: right;
}
nav a, nav button {
    display: block;
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 600;
    color: #C14E2E;
    padding: 9px 10px 0 10px;
    margin: 21px 16px 16px 0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
nav a:last-of-type {
    margin-right: 1rem;
}
nav a.router-link-exact-active {
  color: #C14E2E;
  border-bottom: 2px solid #C14E2E;
}
.nav_logo {
    margin: 0;
    padding: 0;
}
.nav_logo.router-link-exact-active {
    border-bottom: 0;
}

/* INICIJAL */
.dropdown {
    margin-right: 2rem;
}
.dropbtn {
    padding: 9px 13px;
    margin-left: 16px;
    border: none;
    border-radius: 20px;
    background-color: #C14E2E;
    color: #E6E6E6;
    cursor: default;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: -4px;
    right: 1rem;
    background-color: #C14E2E;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.5s;
}
.dropdown-content a {
    color: white !important;
    padding: 8px 0 8px 18px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.dropdown-content a::before {
    display: inline-block;
    content: "";
    border-top: 3px solid #E6E6E6;
    width: 0;
    margin-right: 10px;
    transform: translateY(-5px);
    transition: 0.3s;
}
.dropdown-content a:hover::before {
    width: 16px;
}
.dropdown-content a:hover {
    padding-left: 24px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* MOBILNA NAVIGACIJA */
.icon {
    display: none;
    width: 28px;
    height: 20px;
    position: fixed;
    top: 18px;
    right: 5%;
    cursor: pointer;
    outline: none;
    z-index: 3;
    border: none;
    background-color: transparent;
}
.icon span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #C14E2E;
    border-radius: 9px;
    transition: 0.25s ease-in-out all;
    outline: none;
}
.icon span:nth-child(1) {
    top: 0;
}
.icon span:nth-child(2) {
    top: 10px;
}
.icon span:nth-child(3) {
    top: 20px;
}
.icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
}
.icon.open span:nth-child(2) {
    transform: rotate(45deg);
    opacity: 0;
}
.icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
}
.open span {
    background-color: #E6E6E6;
}
.droper-content {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	position: fixed;
    top: 0;
    left: 0;
	background-color: #C14E2E;
	width: 100vw;
    height: 100vh;
	overflow: auto;
	z-index: 2;
    transition: 0.3s;
}
.droper-content a {
	float: none;
	font-size: 24px;
    font-weight: 500;
	color: #E6E6E6 !important;
	padding: 16px 24px;
	text-decoration: none;
	letter-spacing: 0.5px;
	display: block;
	text-align: center;
}

@media screen and (max-width: 1280px) {
    nav img {
        top: 10%;
        height: 80%;
        margin-left: 1rem;
    }
    nav a {
        font-size: 1rem;
        padding: 9px 6px 0 6px;
    }
    .dropbtn {
        font-size: 1rem;
        padding: 9px 13px;
    }
}
@media screen and (max-width: 960px) {
    nav {
        position: sticky;
        top: 0;
        width: 100% !important;
        height: 56px;
        margin: 0;
        z-index: 2;
        background-color: #E6E6E6;
    }
    nav a, nav button {
        display: none;
    }
    nav a:first-of-type {
        display: block;
    }
    .icon {
        display: flex;
    }
}