.news {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.2rem;
    color: #333;
}
.news p {
    margin-bottom: 18px;
}
.news-single {
    position: relative;
    display: block;
    background-color: #FFFFFF;
    /*width: 90%;
    margin-left: 5%;*/
    height: 250px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    transition: 0.3s;
}
.news-single:first-of-type {
    margin-top: 60px;
}
.news-single:hover {
    transform: scale(1.02);
}
.news-image {
    float: left;
    width: 30%;
    height: 100%;
}
.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.news-info {
    float: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
}
.news-info__time {
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
}
.news-info__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}
.news-info__content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #333;
    font-size: 16px;
}
.news-info__more {
    position: absolute;
    right: 24px;
    bottom: 0;
    width: 160px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #C14E2E;
    color: #FFFFFF;
    border-radius: 18px;
}

@media screen and (max-width: 960px) {
    .news {
        padding-top: 30px;
    }
    .news-info__time {
        margin-bottom: 6px !important;
    }
    .news-info__title {
        font-size: 21px;
        margin-bottom: 6px !important;
    }
    .news-info__content {
       font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .news-single {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .news-single:first-of-type {
        margin-top: 40px;
    }
    .news-image {
        width: 100%;
        height: 200px;
    }
    .news-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .news-info {
        width: 100%;
        padding: 16px;
    }
    .news-info__time {
        font-size: 12px;
    }
    .news-info__title {
        font-size: 16px;
    }
    .news-info__content {
       font-size: 14px;
    }
    .news-info__more {
        right: 18px;
        width: 140px;
        padding: 5px 8px;
        font-size: 14px;
    }
}