.news {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.2rem;
    color: #333;
}
.news p {
    margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
    .news {
        padding-top: 30px;
    }
}