.news {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.2rem;
    color: #333;
}
.news p {
    margin-bottom: 18px;
}
.news-single {
    background-color: #FFFFFF;
    height: 210px;
    margin-top: 30px;
    border-radius: 8px;
}
.news-image {
    float: left;
    width: 30%;
    height: 100%;
}
.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.news-info {
    float: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
}
.news-info__time {
    font-size: 14px;
    margin-bottom: 6px;
}
.news-info__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}
.news-info__content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media screen and (max-width: 960px) {
    .news {
        padding-top: 30px;
    }
    .news-info__time {
        margin-bottom: 6px !important;
    }
    .news-info__title {
        font-size: 21px;
        margin-bottom: 6px !important;
    }
    .news-info__content {
       font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .news-single {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 20px;
    }
    .news-image {
        width: 100%;
        height: 200px;
    }
    .news-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .news-info {
        width: 100%;
        padding: 16px;
    }
    .news-info__time {
        font-size: 12px;
    }
    .news-info__title {
        font-size: 16px;
    }
    .news-info__content {
       font-size: 14px;
    }
}