.profile-hero {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 420px;
    color: #333;
    background-image: url('@/assets/profile-hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-hero-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding-left: 1rem;
}
.profile-hero-info p:first-child {
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 18px;
}
.profile-hero-info p:nth-child(2) {
    font-size: 16px;
    padding-bottom: 18px;
}
.qr-code {
    max-width: 90%;
    aspect-ratio: 1 / 1; 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    border-radius: 8px;
    background-color: #C14E2E;
    padding: 20px;
    margin: 30px auto;
}
.qr-code p {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.reservations, .admin-buttons, .add-book, .add-news, .show-reservations {
    position: relative;
    max-width: 1920px;
    min-height: 80vh;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.2rem;
    color: #333;
}
.reservations h3 {
    margin-bottom: 52px;
}
.show-reservations h1 {
    margin-bottom:70px
}
.reservations-list {
    float: left;
    width: 73%;
    padding: 24px;
}
.reservations-status {
    float: left;
    width: 25%;
    min-height: 100px;
    height: auto;
    text-align: center;
    margin-left: 2%;
    padding: 24px;
    background-color: #C14E2E;
    border-radius: 8px;
}
.reservations-status p {
    color: #FFFFFF;
}
.reservations-status-info {
    font-size: 21px;
    margin-top: 24px;
}
.reservations-status canvas {
    margin: 16px 0;
}
.single-reservation {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}
.reservation-counter {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    background-color: #C14E2E;
    color: #FFFFFF;
    font-size: 21px;
    text-align: center;
    padding: 8px 16px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.reservation-info {
    min-width: 500px;
    background-color: #FFFFFF;
    padding: 18px 32px;
    margin-left: 32px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 10px;
}
.reservation-info p {
    font-size: 18px;
}
.reservation-delete, .reservation-delete-admin {
    margin-left: -3px;
    padding: 18px 26px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #eb4747;
    color: #FFFFFF;
    font-size: 19px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 10px;
    cursor: pointer;
    transition: 0.2s;
}
.reservation-delete-admin {
    margin-top: -112px;
    margin-left: -24px;
    padding: 12px 18px;
    border-radius: 8px;
}
.reservation-delete:hover {
    background-color: #e83030;
}

.admin-buttons {
    min-height: auto;
}
.admin-buttons button {
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #C14E2E;
    padding: 6px 8px;
    margin-right: 18px;
    margin-bottom: 18px;
    cursor: pointer;
}
.admin-buttons button:hover {
    color: #C14E2E;
}

/* DODAVANJE KNJIGA */
.add-book form {
    width: 70%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: flex-end;
    margin-top: 60px;
}
.add-book form input, .add-book form select, .add-news form input, .add-news form textarea {
    font-size: 16px;
    padding: 4px 10px;
    border: 0;
    border: 1px solid #C14E2E;
    background-color: transparent;
    border-radius: 4px;
}
/* Chrome, Safari, Edge, Opera */
.add-book form input::-webkit-outer-spin-button, .add-book form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.add-book form input[type=number] {
    -moz-appearance: textfield;
    width: 45%;
}
.upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    font-size: 16px;
    padding: 6px 0;
    text-align: center;
    background-color: #C14E2E;
    color: #F2F2F2;
    border-radius: 4px;
    cursor: pointer;
}
.upload-label img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
}
#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.add-book form input:focus, .add-book form select:focus, .add-news form input:focus, .add-news form textarea:focus {
    outline: 0;
    background-color: #D9D9D9;
}
.add-book form button, .add-news form button {
    max-width: 200px;
    width: auto;
    position: absolute;
    bottom: -80px;
    border: 0;
    color: #E6E6E6;
    background-color: #C14E2E;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 24px;
    cursor: pointer;
}

/* DODAVANJE VIJESTI */
.add-news form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.add-news form input, .add-news form textarea, .add-news form button {
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
}
.add-news form textarea {
    min-height: 300px;
}

@media screen and (max-width: 1280px) {
    .reservation-info {
        min-width: auto;
    }
    .reservations-list {
        width: 50%;
    }
    .reservation-delete {
        margin-left: -1px;
        padding: 16px 21px;
        font-size: 18px;
    }
    .reservations-status {
        width: 45%;
    }
}
@media screen and (max-width: 960px) {
    .add-book form {
        width: 100%;
    }
    .add-news form {
        margin-top: 30px;
    }
    .reservation-info p {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .profile-hero {
        height: 250px;
        
    }
    .profile-hero-info p {
        z-index: 0;
        color: #FFFFFF;
    }
    .profile-hero-info p:first-child {
        font-size: 32px;
    }
    .reservations, .admin-buttons, .add-book, .add-news, .show-reservations {
        padding-top: 30px;
    }
    .admin-buttons button {
        font-size: 14px;
    }
    .qr-code {
        display: flex;
    }
    
    /* DODAVANJE KNJIGA */
    .add-book form {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 16px;
        margin-top: 30px;
    }
    .add-book form input, .add-book form select, .add-news form input, .add-news form textarea, .add-book form button, .add-news form button {
        font-size: 14px;
    }
    .add-book form input[type=number] {
        width: 100%;
    }

    /* DODAVANJE VIJESTI */
    .add-news form input, .add-news form textarea, .add-news form button {
        width: 100%;
    }

    .reservation-counter {
        width: 46px;
        height: 46px;
        font-size: 18px;
        padding: 8px;
    }
    .reservation-info {
        min-width: auto;
        max-width: 100%;
        width: 100%;
        padding-left: 24px;
        margin-left: 32px;
        border-radius: 8px;
    }
    .reservation-info p {
        font-size: 14px;
    }
    .reservation-delete {
        position: absolute;
        right: -10px;
        top: -20px;
        padding: 8px 14px;
        font-size: 16px;
        border-radius: 8px;
    }
    .reservation-delete-admin {
        margin-left: -18px;
        font-size: 16px;
        padding: 8px 14px;
    }
    .reservations-list {
        width: 100%;
        padding: 12px;
    }
    .reservations-status {
        display: none;
    }
}