.profile-hero {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 420px;
    color: #333;
    background-image: url('@/assets/profile-hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-hero-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding-left: 1rem;
}
.profile-hero-info p:first-child {
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 18px;
}
.profile-hero-info p:nth-child(2) {
    font-size: 16px;
    padding-bottom: 18px;
}
.qr-code {
    max-width: 100%;
    aspect-ratio: 1 / 1; 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 8px;
    background-color: #C14E2E;
    padding: 20px;
    margin: 30px auto;
}
.qr-code p {
    margin-top: 16px;
    color: #FFFFFF;
}
.reservations, .admin-buttons, .add-book, .add-news {
    position: relative;
    max-width: 1920px;
    min-height: 80vh;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 1.2rem;
    color: #333;
}
.admin-buttons {
    min-height: auto;
}
.admin-buttons button {
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #C14E2E;
    padding: 6px 8px;
    margin-right: 18px;
    cursor: pointer;
}
.admin-buttons button:hover {
    color: #C14E2E;
}

/* DODAVANJE KNJIGA */
.add-book form {
    width: 70%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: flex-end;
    margin-top: 60px;
}
.add-book form input, .add-book form select, .add-news form input, .add-news form textarea {
    font-size: 16px;
    padding: 4px 10px;
    border: 0;
    border: 1px solid #C14E2E;
}
/* Chrome, Safari, Edge, Opera */
.add-book form input::-webkit-outer-spin-button, .add-book form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.add-book form input[type=number] {
    -moz-appearance: textfield;
    width: 45%;
}
.add-book form input:focus, .add-book form select:focus, .add-news form input:focus, .add-news form textarea:focus {
    outline: 0;
}
.add-book form button, .add-news form button {
    border: 0;
    color: #E6E6E6;
    background-color: #C14E2E;
    font-size: 16px;
    padding: 4px 0;
    cursor: pointer;
}

/* DODAVANJE VIJESTI */
.add-news form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.add-news form input, .add-news form textarea, .add-news form button {
    width: 500px;
    margin-bottom: 20px;
}
.add-news form textarea {
    min-height: 300px;
}

@media screen and (max-width: 960px) {
    .add-book form {
        width: 100%;
    }
    .add-news form {
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .profile-hero {
        height: 250px;
        
    }
    .profile-hero-info p {
        z-index: 0;
        color: #FFFFFF;
    }
    .profile-hero-info p:first-child {
        font-size: 32px;
    }
    .reservations, .admin-buttons, .add-book, .add-news {
        padding-top: 30px;
        min-height: auto;
    }
    .admin-buttons button {
        font-size: 14px;
    }
    .qr-code {
        display: flex;
    }
    
    /* DODAVANJE KNJIGA */
    .add-book form {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 16px;
        margin-top: 30px;
    }
    .add-book form input, .add-book form select, .add-news form input, .add-news form textarea, .add-book form button, .add-news form button {
        font-size: 14px;
    }
    .add-book form input[type=number] {
        width: 100%;
    }

    /* DODAVANJE VIJESTI */
    .add-news form input, .add-news form textarea, .add-news form button {
        width: 100%;
    }
}